In [452]:
import pandas as pd
import datetime

In [453]:
df = pd.read_csv("Data/Meneos_Iniciales_y_finales_2023.csv")

In [454]:
df.head(3)

,Indice,Comunidad,Usuario,Medio,Enviado,Publicado,Titular,Entradilla,Votos,Clicks,Positivos,Anonimos,Negativos,Comentarios,Karma
0,0,politica,dmeijide,twitter.com,31/12/2023 12:05,31/12/2023 22:40,Yanis Varoufakis: Suspended el Apartheid Israe...,Como una vez suspendimos el Apartheid de Sudáf...,649,1237,276,373,9,57,399
1,1,actualidad,--557077--,europapress.es,31/12/2023 17:11,31/12/2023 21:25,Irán libera al español Santiago Sánchez Cogedo...,La Justicia de Irán ha puesto en libertad este...,280,1206,140,140,1,108,499
2,2,actualidad,tropezon,diariodecadiz.es,30/12/2023 23:31,31/12/2023 21:05,Estafan a un vecino de Vejer casi 10.000 euros...,Francisco Raúl Moreno Mera recibió tres mensaj...,236,4343,103,133,2,110,473

In [455]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Indice       336 non-null    int64
 1   Comunidad    336 non-null    object
 2   Usuario      336 non-null    object
 3   Medio        336 non-null    object
 4   Enviado      336 non-null    object
 5   Publicado    336 non-null    object
 6   Titular      336 non-null    object
 7   Entradilla   336 non-null    object
 8   Votos        336 non-null    int64
 9   Clicks       336 non-null    int64
 10  Positivos    336 non-null    int64
 11  Anonimos     336 non-null    int64
 12  Negativos    336 non-null    int64
 13  Comentarios  336 non-null    int64
 14  Karma        336 non-null    int64
dtypes: int64(8), object(7)
memory usage: 39.5+ KB

# HORA DE ENVÍO
(obtenida de fecha envío) - Tipo de dato: datetime

- OBTENER DE COLUMNA 'Enviado'
- Cambiar a tipo de dato pd.datetime y quedarme solo con la hora

In [458]:
df['Enviado'] = pd.to_datetime(df['Enviado'])
df["Hora de envío"] = df["Enviado"].dt.time

In [443]:
# ISSUE: en la columna 'Hora de envio' queda un 'objeto', no un 'datetime', BUT, necesitamos ese dato? Parece que no...

In [444]:
df["Hora de envío"] = pd.to_datetime(df["Enviado"]).dt.time

In [445]:
# El resultado de hacer esto es lo mismo que lo de arriba:

# df['Enviado'] = df['Enviado'].astype('datetime64[ns]')
# df["Hora de envío"] = df["Enviado"].dt.time                         # deja la hora como 'objeto'

In [ ]:
# df['Enviado'].dtype         # dtype('<M8[ns]')
# type(df['Enviado'][1])          # pandas._libs.tslibs.timestamps.Timestamp

## HORA DE PUBLICACIÓN
(obtenida de fecha publicación) - Tipo de dato: datetime

In [459]:
# COLUMNA HORA DE PUBLICACIÓN

df['Publicado'] = pd.to_datetime(df['Publicado'])
df["Hora de publicación"] = df["Publicado"].dt.time

C:\Users\Eva Téllez García\AppData\Local\Temp\ipykernel_24536\1682566153.py:3: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Publicado'] = pd.to_datetime(df['Publicado'])

In [450]:
# df['Publicado'].dtype         # dtype('<M8[ns]')
# type(df['Publicado'][1])      # pandas._libs.tslibs.timestamps.Timestamp

## DELAY
(diferencia entre fecha envío y fecha publicación) - Tipo de dato: deltatime

In [460]:
# Si no lo transformamos en la propia columna:

# df['delay'] = pd.to_datetime(df['Publicado']) - pd.to_datetime(df['Enviado'])
# df['delay'] = df['Publicado'].astype('datetime64[ns]') - df['Enviado'].astype('datetime64[ns]')

In [461]:
df['delay'] = df['Publicado'] - df['Enviado']

## FRANJA HORARIA
Franja horaria:
- mañana (>= 06 & < 12), 
- mediodía (>=12 & <16), 
- tarde (>=16 < 21), 
- noche (>= 21 < 00), 
- madrugada (>=00 & < 06)   
Tipo de dato: object

In [462]:
def franja_horaria(hora):
    
    if (hora >= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=6)) & (hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=12)):
        return "mañana"
    elif (hora >= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=12)) & (hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=16)):
        return "mediodía"
    elif (hora >= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=16)) & (hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=21)):
        return "tarde"
    elif (hora >= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=21)) & (hora <= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=23, minute=59)):
        return "noche"
    elif (hora >= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=00)) & (hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=6)):
    # else:
        return "madrugada"
    
# hora es un objeto Timestamp('2023-12-31 21:25:00') // type: pandas._libs.tslibs.timestamps.Timestamp
    # este tipo de objeto, de pandas, se puede comparar con los datetime.datetime (de lib datetime)
    
    # que coja el date de la misma fecha/hora de Publicado y lg se le añade la hora. Para convertirlo todo a datetime.datetime

In [432]:
# así funciona bien. El problema está en poner la franja noche, de límite <00. No sé por qué :/

def franja_horaria(hora):
    
    if datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=6) <= hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=12):
        return "mañana"
    elif datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=12) <= hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=16):
        return "mediodía"
    elif datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=16) <= hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=21):
        return "tarde"
    elif datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=21) <= hora <= datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=23, minute=59):
        return "noche"
    elif datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=00) <= hora < datetime.datetime(year=hora.year, month=hora.month, day=hora.day, hour=6):
        return "madrugada"

In [463]:
df["Franja Horaria"] = df["Publicado"].apply(lambda x : franja_horaria(x))
# Si no tuviéramos la columna 'Publicado' ya en formato datetime64: df["Franja Horaria"] = pd.to_datetime(df['Publicado']).apply(lambda x : franja_horaria(x))

df[['Publicado', 'Franja Horaria']].tail(40)

              Publicado Franja Horaria
296 2023-01-02 05:55:00      madrugada
297 2023-01-02 04:40:00      madrugada
298 2023-01-02 03:15:00      madrugada
299 2023-01-02 02:45:00      madrugada
300 2023-01-02 01:50:00      madrugada
301 2023-01-02 00:20:00      madrugada
302 2023-01-01 23:55:00          noche
303 2023-01-01 23:05:00          noche
304 2023-01-01 22:30:00          noche
305 2023-01-01 21:40:00          noche
306 2023-01-01 21:05:00          noche
307 2023-01-01 20:35:00          tarde
308 2023-01-01 20:15:00          tarde
309 2023-01-01 19:20:00          tarde
310 2023-01-01 19:00:00          tarde
311 2023-01-01 19:00:00          tarde
312 2023-01-01 18:25:00          tarde
313 2023-01-01 17:50:00          tarde
314 2023-01-01 17:20:00          tarde
315 2023-01-01 16:35:00          tarde
316 2023-01-01 15:55:00       mediodía
317 2023-01-01 15:45:00       mediodía
318 2023-01-01 15:35:00       mediodía
319 2023-01-01 14:25:00       mediodía
320 2023-01-01 14:20:00       mediodía
321 2023-01-01 13:25:00       mediodía
322 2023-01-01 12:45:00       mediodía
323 2023-01-01 12:40:00       mediodía
324 2023-01-01 11:55:00         mañana
325 2023-01-01 11:55:00         mañana
326 2023-01-01 11:45:00         mañana
327 2023-01-01 10:20:00         mañana
328 2023-01-01 09:30:00         mañana
329 2023-01-01 06:45:00         mañana
330 2023-01-01 05:05:00      madrugada
331 2023-01-01 03:25:00      madrugada
332 2023-01-01 02:30:00      madrugada
333 2023-01-01 01:25:00      madrugada
334 2023-01-01 00:55:00      madrugada
335 2023-01-01 00:30:00      madrugada

In [464]:
df['Franja Horaria'].unique()

array(['noche', 'tarde', 'mediodía', 'mañana', 'madrugada'], dtype=object)

In [465]:
df['Franja Horaria'].dtype

dtype('O')

In [393]:
# df['Publicado'][1].timestamp

df['Publicado'][1] > datetime.datetime(year=df['Publicado'][1].year, month=df['Publicado'][1].month, day=df['Publicado'][1].day, hour=23)

False

In [420]:
print(datetime.datetime(year=df['Publicado'][1].year, month=df['Publicado'][1].month, day=df['Publicado'][1].day, hour=00, minute=1))

2023-12-31 00:01:00

In [423]:
fecha = datetime.datetime(year=df['Publicado'][1].year, month=df['Publicado'][1].month, day=df['Publicado'][1].day)
fecha

datetime.datetime(2023, 12, 31, 0, 0)